@import url(../utilities/utilities.css);
@import url(../utilities/navbar-footer.css);
.main-container {
    width: 100%;
    height: 100vh;
}
#top {
    height: 14.5vh;
}
.school-content {
    width: 100%;
    height: 75.5vh;
    display: inline-flex;
    justify-content: space-between;
    padding: 5%;
}
.title {
    z-index: 111;
    font-weight: 700;
    font-size: 8rem;
    position: absolute;
    left: 32%;
    top: 20%;
    opacity: .4;
}
.left, .middle, .right {
    position: relative;
    top: 25%;
    width: 30%;
    height: 60%;
    background-color: var(--main-gold);
    border-radius: .5rem;
    z-index: 10;
    padding: .5rem;
}
.vid-container {
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
}
.vid-container iframe {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}
.see-all-menu {
    position: absolute;
    bottom: 15%;
    left: 45%;
    background-color: var(--main-gold);
    padding: .7rem 1rem;
    border-radius: .3rem;
    color: #fff;
    transition: .2s linear;
}
.see-all-menu:hover {
    color: var(--main-text-color);
    background-color: var(--light-brown);
}
