@import url(../utilities/utilities.css);
@import url(../utilities/navbar-footer.css);


.main-container {
    width: 100%;
    height: 300vh;
}

/* NAVBAR STYLE *imported* */

/* LP VIDEO */
.lp-video {
    height: 100vh;
    width: 100%;
}
.lp-video video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 993;
}
.scroll-to-next a{
    z-index: 10;
    position: relative;
    left: 48.75%;
    bottom: 3rem;
    color: #fff;
    letter-spacing: .1rem;
}

/* SECTION TWO */
#section-two {
    width: 100%;
    height: 100vh;
    top: 200vh;
}
.img-container {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 5rem 10rem;
    background-image: url(../../img/brand-letters/letter-a.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}
#knife {
    width: 55%;
    position: absolute;
    top: 35%;
    left: 25%;
    z-index: 9;
}
#rosemarin1, #rosemarin2{
    width: 30%;
}
#rosemarin1 {
    position: absolute;
    top: 20%;
    left: 40%;
}
#rosemarin2 {
    transform: rotate(-90deg);
    position: absolute;
    top: 15%;
    left: 35%;
}
.img-container p {
    width: 50%;
    position: relative;
    top: 75%;
    left: 25%;
    font-size: 1.2rem;
    text-align: center;
}

/* SECTION THREE */
#section-three {
    width: 100%;
    height: 100vh;
}
.content-container {
    width: 100%;
    height: 100%;
    padding: 10rem;
    background-image: url(../../img/brand-letters/letter-7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    text-align: center;
}
.content-container h1 {
    position: relative;
    top: 5%;
    font-size: 45px;
    margin: 10px;
    font-weight: 700;
}
.content-container p {
    font-weight: 500;
    margin: 10px;
    position: relative;
    top: 5%;
}
.map {
    position: relative;
    left: 25%;
    top: 10%;
    width:800px;
    height:500px;
    padding: 2px;
    background-color: var(--main-gold);
}



