@import url(../utilities/utilities.css);
.main-container {
    width: 100%;
    height: 100vh;
    background-color: var(--main-white);
}
.main-container img {
    width: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    background-color: var(--main-white);
}
.main-container hr {
    background-color: var(--main-gold);
    height: .3rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
}
.enter-btn {
    width: 8.5rem;
    height: 3.2rem;
    padding: 1rem;
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: var(--main-gold);
    border: 2px dotted var(--main-gold);
    background-color: #fff;
    font-weight: bold;
    transition: .2s linear;

}
.enter-btn:hover {
    background-color: var(--main-gold);
    color: #fff;
    border: 2px dotted #fff;
}