@import url(../utilities/utilities.css);
@import url(../utilities/navbar-footer.css);

.main-container {
    width: 100%;
    height: 100vh;
}
#top {
    height: 14.5vh;
}
.wip-content {
    width: 100%;
    height: 75.5vh;
    display: inline-flex;
}
.wip-content img {
    opacity: .4;
    height: 95%;
    position: relative;
    left: 35%;
    z-index: -1;

}
.wip-content h1 {
    font-weight: 700;
    font-size: 8rem;
    position: absolute;
    left: 25%;
    top: 44%;
}
